@charset "utf-8";
body{
	background-image: url(../img/food_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.chef{
	animation: run 1s;
	animation-iteration-count: infinite;
	position: fixed;
}

@keyframes run{
	0%{
		right: 350px;
		bottom: -140px;
		transform: rotate(0deg);
	}
	25%{
		right: 348px;
		bottom: -128px;
		transform: rotate(8deg);
	}
	75%{
		right: 352px;
		bottom: -126px;
		transform: rotate(10deg);
	}
	100%{
		right: 350px;
		bottom: -140px;
		transform: rotate(0deg);		
	}
}


@media screen and (min-width:960px){
	.chef{
		width: 400px;
	}
	
}

@media screen and (max-width:959px) and (min-width:481px){
	.chef{
		width: 300px;
	}
}

@media screen and (max-width:480px){
	.chef{
		width: 200px;
	}
}
